<div fxLayout="row wrap" style="margin: 10% auto;">

  <div fxFlex>
    <mat-card class="mat-elevation-z0 contact-card">
      <mat-card-title class="card-title-icon align-center">
        <mat-icon style="color: #2962ff; font-size: 45px;">navigation</mat-icon>
      </mat-card-title>

      <br/><br/>

      <mat-card-content class="align-center">
        <p class="contact-text" id="email-address">hello@nodebucket.com</p>
      </mat-card-content>
    </mat-card>
  </div>


  <div fxFlex>
    <mat-card class="mat-elevation-z0 contact-card">
      <mat-card-title class="card-title-icon align-center">
        <mat-icon style="color: #2962ff; font-size: 45px;">phone</mat-icon>
      </mat-card-title>

      <br/><br/>

      <mat-card-content class="align-center">
        <p class="contact-text" id="phone-number">212-592-2525</p>
      </mat-card-content>
    </mat-card>
  </div>


</div>



<!-- <div fxLayout="row wrap">
  <div fxFlex>

    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>

      <br/>

      <mat-card-content class="align-center">
        <p>hello@nodebucket.com</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br/>

      <mat-card-content class="align-center">
        <p>212-592-2525</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="column">
  <p style="text-align: center">We're here to help!</p>
</div> -->
