<!--
==========================================================
// Title: Nodebucket Application
// Author: Evan Durkin
// Date: March 27, 2022
// Description: Contact page
==========================================================
-->

<!-- MAIN CONTAINER DIV -->
<div fxLayout="row wrap" style="margin: 10% auto;">

  <!-- Mat Card for Email Address -->
  <div fxFlex>
    <mat-card class="mat-elevation-z0 contact-card">
      <mat-card-title class="card-title-icon align-center">
        <mat-icon style="color: #2962ff; font-size: 45px;">navigation</mat-icon>
      </mat-card-title>

      <br/><br/>

      <mat-card-content class="align-center">
        <p class="contact-text" id="email-address">hello@nodebucket.com</p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Mat Card for Phone Number -->
  <div fxFlex>
    <mat-card class="mat-elevation-z0 contact-card">
      <mat-card-title class="card-title-icon align-center">
        <mat-icon style="color: #2962ff; font-size: 45px;">phone</mat-icon>
      </mat-card-title>

      <br/><br/>

      <mat-card-content class="align-center">
        <p class="contact-text" id="phone-number">212-592-2525</p>
      </mat-card-content>
    </mat-card>
  </div>


</div>

