<div  class="about-container">

    <div class="grid-container">
      <div class="c1-1 blueBox"><p class="blueBoxText">Stay</p></div>
      <div class="c1-2 blueBox"><p class="blueBoxText">on</p></div>
      <div class="c1-3 blueBox"><p class="blueBoxText">Track</p></div>
      <div class="c1-4 blueBox"><p class="blueBoxText">!!!!</p></div>

      <div class="about-info">
        <p><span class="about-logo">nodebucket</span> was created with the idea <br/>that keeping track of tasks should be a<br/>simple, straightforward, and visual process.
        <br/><br/>
        Keep track of your tasks by writing them out <br/>and then drag-and-drop them to the side when <br/>you've completed them.
        <br/><br/>
        Staying on track is as simple as that.</p>
      </div>

    </div>

</div>
