<div  class="about-container">

    <!--About Page Img and Icons-->
    <div class="grid-container">
      <div class="c1-1 blueBox"><div style="margin: 6% auto auto 1.5em;"><p class="blueBoxText">Stay</p></div></div>
      <div class="c1-2 blueBox"><div style="margin: 6% 3em auto auto; float:right;"><p class="blueBoxText">on</p></div></div>
      <div class="c1-3 blueBox"><div style="margin: 6% auto auto 3em;"><p class="blueBoxText">Track</p></div></div>
      <div class="c1-4 blueBox">
        <div style="display: flex; max-height: 90px;">
          <p class="blueBoxText" style="margin: 7% auto;">
            <span class="material-icons" style="font-size: 37px;">edit</span>
            <span class="material-icons" style="font-size: 37px;">sports_martial_arts</span>
            <span class="material-icons" style="font-size: 37px;">send</span>
            <span class="material-icons" style="font-size: 37px; letter-spacing: -20px;">priority_high</span>
            <span class="material-icons" style="font-size: 37px; letter-spacing: -20px;">priority_high</span>
            <span class="material-icons" style="font-size: 37px; letter-spacing: -20px;">priority_high</span>
            <span class="material-icons" style="font-size: 37px; letter-spacing: -20px;">priority_high</span>
          </p></div>
      </div>
      <!--About Page Info Text-->
      <div class="about-info">
        <p><span class="about-logo">nodebucket</span> was created with the idea <br/>that keeping track of tasks should be a<br/>simple, straightforward, and visual process.
        <br/><br/>
        Keep track of your tasks by writing them out <br/>and then drag-and-drop them to the side when <br/>you've completed them.
        <br/><br/>
        Staying on track is as simple as that.</p>
      </div>
    </div>

    <br/><br/>

    <!--How To Use instructions table-->
    <div fxLayout="column" class="how-to-container">
      <div fxFlex style="margin: 3em auto 3em;">
        <h2 class="how-to-title">How to manage your tasks</h2>
        <table class="how-to-table">
          <tr>
            <td>Step 1</td>
            <td>On the Home page click the <span style="font-weight: bold;">Create a Task</span> button to add a new task</td>
          </tr>
          <tr>
            <td>Step 2</td>
            <td>Reorder your tasks by clicking + dragging them within the column</td>
          </tr>
          <tr>
            <td>Step 3</td>
            <td>To delete a task, click the trash can icon and confirm</td>
          </tr>
          <tr>
            <td>Step 4</td>
            <td>When your task is finished, drag-and-drop the task over to the <span style="font-weight: bold;">Done</span> column</td>
          </tr>
        </table>
      </div>
    </div>

    <!--Back to Tasks Link-->
    <a href="/" class="link-back-to-tasks">Back to Tasks</a>

</div>
