/*
=======================================
// Title: Nodebucket Application
// Author: Evan Durkin
// Date: March 27, 2022
// Description: Sign In page styling
=======================================
*/

#signInContainer {
  margin: 20% auto auto;
}

.signIn {
  background-color: #e3f2fd;
  width: 300px;
  max-width: 500px;
}

mat-card.mat-card.mat-focus-indicator.signIn {
  margin: 0 auto;
}

.mat-card>:first-child, .mat-card-content>:first-child {
  margin-top: 15px;
}

.logo {
  text-align: center;
  font-size: 36px;
  margin-top: 1em;
  margin-bottom: 1em;
  text-shadow: 0px 3px 4px #888888;
}

.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
  color: white;
  background-color: #2962ff;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

.mat-card {
  border-radius: 9px;
  padding: 2em;
}

.mat-card-actions, .mat-card-subtitle, .mat-card-content {
  margin-bottom: 0;
}

.msg-error {
  color: red;
}

