/* global styling */


html, body { height: 100%; }

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  background-color: #e3f2fd;
}

p {
  font-family: 'PT Sans', sans-serif;
}

h1, h2, .logo {
  font-family: 'Merriweather', serif;
  color: #2962ff;
}

.logo {
  color: #2962ff;
  font-weight: 900;
  letter-spacing: -1.5px;
}

.logo:hover {
  font-weight: 900;
  background-color: transparent;
}

.logo.mat-button .mat-button-focus-overlay {
  background-color: transparent;
  text-shadow: 0px 6px 9px #888888;
  transition: .3s;
}
